# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System
.DS_Store

# Node Dependencies
node_modules/
**/node_modules/

# Build Folders
build/
dist/
.nuxt/
.next/
output/

# Editor Configurations
.vscode/
.idea/

# Environment Files
.env
backend/.env
frontend/.env

# Docker Overrides
docker-compose.override.yml

# Others
*.swp
*.swo
